/* Css.Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



    /* Generals */

    header {
        background-color: #3160e1;
    }

    .header-top {
        display: flex;
        align-items: center;
        height: 80px;
       
    }

    .container {
        max-width: 1080px;
        margin: 0  auto;
    }

    .group {
        min-height: 600px;
    }

    .nav a {
        margin: 0 15px;
        text-decoration: none;
        color: whitesmoke;
        font-size: 18px;
        font-weight: 400;
    }




    /* Utilities */

    .header-top > * {
        align-content: center;
        text-align: center;
    }

    .login  {
        border-radius: 20px;
        color: black;
        text-decoration: none;
        font-size: 15px;
        background-color: whitesmoke;
        padding: 10px;
        font-weight: 600;
    }

    .f-b {
        flex-basis: 20%;
        min-height: 50%;
    }

    .nav {
        flex-grow: 1;
    }

    .spotlight {
        background-color: rgb(3, 3, 58);
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: url(/img/jumbo.png);
        background-size: cover;
        min-height: 600px;
    }

    .spotlight-content {
        padding: 20px;
        width: 50%;
        text-align: center;
        font-size: 30px;
        color: whitesmoke;
        margin-top: 50px;
    }

    p  {
        font-size: 20px;
        padding-top: 50px;
        font-weight: 700;
        margin-bottom: 50px;
    }


    .d-f {
        display: flex;
        padding: 25px;
    }

    .big-b {
        flex-basis: 60%;
        background-color: blue;
        border: 2px , black , dashed;
    }

    .small-p {
        flex-basis: 40%;
        background-color: pink;
        border: 2px black dashed;

    }

    .gray-c {
        background-color: gray;
    }

    .box-g {
        min-height: 600px;
        border: 2px , black , dashed;
        background-color: green;
        
    }

    .pdg {
        padding: 25px;
    }

    .black-c {
        background-color: black;
        color: whitesmoke;
    }

    .b-section {
        background-color: rgb(212, 143, 154);
        border: 2px rgb(255, 255, 255) dashed;
        flex-grow: 1;

        
    }

    .s-sections {
        background-color: rgb(192, 217, 255);
        border: 2px rgb(255, 255, 255) dashed;
        flex-basis: 15%;

    }

    .h-f {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom {
        flex-basis: 40px;
        color: aliceblue;
        border: 2px dashed white;
        background-color: pink;
        min-height: 30px;
    }

    .acqua{
        background-color: aquamarine;
    }

    .dwnld {
        padding: 15px;
        font-size: 20px;
        margin-right: 10px;
    }
